<! index page for the alpaca variant database - acts as a search engine to look up variants seen in the alpaca lab !>

{% extends "base_generic.html" %}

{% block content %}
<div>
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRPmjb7rv28MH3DXesgAHdl2er5TkLaHM34S0wDOdflRUwI5ndu" width=19% height=25% align=center>
 <img src="https://www.publicdomainpictures.net/pictures/90000/velka/alpaca-chewing.jpg" width=19% height=25% align=center>
 <img src="https://p2.piqsels.com/preview/348/399/747/alpaca-animal-llama-mammal.jpg" width=19% height=25% align=center>
 <img src="https://i2.pickpik.com/photos/142/73/256/alpaca-smile-teeth-fur-preview.jpg" width=19% height=25% align=center>
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBjyECq0ka0ypVuaUcvVUHpJvbnaVb7aM7SO7Jk3IIYpCSkyff" width=19% height=25% align=center>
</div>
 <div class="topnav">
   <a class="active" href="{% url 'index' %}">Search Variants</a>
   <a class="active" href="{% url 'import_variant' %}">Import Variants</a>
 </div> 
  <h1>Alpaca Variant Database</h1><br>
  <p>Welcome to the Alpaca Variant Database for the Alpaca Molecular Genetics Laboratory. Fill in one or more boxes in the form below to search for variants: </p><br>
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
    {% endfor %}
    {% endfor %}
    {% endif %}
  <div>
    <form class="SearchForm" method="get" action="{% url 'index' %}">
      <table>
        <tr>
          <td>
          </td>
          <td>
      Variant (c.):
          </td>
          <td colspan="4">
            <input id="searchbox" name="variant_c_input" type="text"><br>
          </td>
          <td>
          </td>
          <td>
      Variant (g.):
          </td>
          <td colspan="4">
      <input id="searchbox" name="variant_g_input" type="text"><br>
          <td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
      Variant (p.):
          </td>
          <td colspan="4">
      <input id="searchbox" name="variant_p_input" type="text"><br>
          </td>
          <td>
          </td>
          <td>
      Gene:
          </td>
          <td colspan="4">
      <input id="searchbox" name="gene_input" type="text"><br>
    <td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
      Coordinates:
        </td>
        <td colspan="4">
      <input id="searchbox" name="region_input" type="text", placeholder='41243451_41243452'><br>
        </td>
        </tr>
      </table><br><br>
      <input class="p1" type="submit" value="Search">
    </form>
  </div>
{% endblock %}



